---
import Layout from "../layouts/Layout.astro";
import { Button } from "@nextui-org/react";
---

<Layout title="FindMi - Encuentra tu músico ideal">
  <main class="w-screen h-screen">
    <h1>Encuentra el múscico que falta en tu banda</h1>
    <a>
      <Button color="primary" client:load>Buscar músico</Button>
    </a>
  </main>
</Layout>
