---
import Layout from '../layouts/HomeLayout.astro';
import Button from '../components/Button.astro';
---

<Layout title="FindMi - inicio">
	<main class="flex justify-center items-center w-screen h-screen gap-24">
		<img src="/guitar.png" alt=" guitar image" class="w-96 hidden lg:block">
		<section class="flex flex-col">
			<img src="/Logo.svg" alt="FindMi" class=" w-64 lg:w-auto" />
		<div class=" lg:text-3xl font-semibold text-gray-700 translate-x-1/6 -translate-y-1/2">
			<p>Busca el musico </p>
		  	<p>que hace falta en tu banda</p>
		</div>
		<div class="w-full flex flex-col lg:flex-row gap-4 mt-10">
			<Button color='primary' href='/registro'>
				Soy musico
			</Button>
			<Button color='secondary' href='/busqueda'>
				Busco a un musico
			</Button>
		</div>
		</section>
		<p class="absolute bottom-5 text-xs">Creada y desarrollada por Tomas Izuel</p>
	</main>
</Layout>

