---
import Layout from "../../layouts/Layout.astro";
import { Button } from "@nextui-org/react";
import { Navigation } from "../../types/navigation";
---

<Layout title="FindMi - Músicos" page={Navigation.MUSICIANS}>
  <main
    class="w-screen height flex justify-center items-center flex-col text-center gap-10"
  >
  </main>
</Layout>
