---
import Header from "../components/layout/Header.astro";
import type { Navigation } from "../types/navigation";

interface Props {
  title: string;
  page: Navigation;
}

const { title, page } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="FindMi es una aplicación en la que podras buscar músicos faltantes para tu banda o toque, filtrando por instrumento, tipo, experiencia."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="light text-foreground bg-background">
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .height {
    height: 100dvh;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
  }
</style>

<style is:global>
  .transition-in {
    animation: fadeIn 0.5s cubic-bezier(0, 0.74, 0.9, 0.48) both 0.25s;
  }

  .expand-in {
    animation: expandIn 0.5s ease-in-out both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes expandIn {
    0% {
      @apply w-10;
    }
    100% {
      @apply w-full;
    }
  }
</style>
